# Dependencies
node_modules/
vendor/

# vim edit swap files
*.un~
temp

# Logs
*.log

# Environment variables
.env

# Build outputs
dist/
build/

# encryption keys
localhost-key.pem
localhost.pem
mkcert.exe
